@import "tailwindcss";

@theme {
  /*Cores - Landing Page*/
  --color-background: #0F0F0F;
  --color-foreground: #F4F4F4;
  --color-muted-foreground: #999999;
  --color-card: #1A1A1A;
  --color-card-foreground: #F4F4F4;
  --color-popover: #141414;
  --color-popover-foreground: #F4F4F4;
  --color-primary: #F4F4F4;
  --color-primary-foreground: #141414;
  --color-secondary: #242424;
  --color-secondary-foreground: #F4F4F4;
  --color-muted: #2D2D2D;
  --color-muted-foreground: #999999;
  --color-accent: #292929;
  --color-accent-foreground: #F4F4F4;
  --color-destructive: #B73F3F;
  --color-destructive-foreground: #F4F4F4;
  --color-border: #2D2D2D;
  --color-input: #2D2D2D;
  --color-ring: #CCCCCC;

  /*Cores - NebulaTrade*/
  --color-nebula: #9E58E1;
  --color-nebula-light: rgba(158,88,225,.1);
  --color-nebula-lighter: rgba(158,88,225,.05);
  --color-nebula-medium: rgba(158,88,225,.2);
  --color-nebula-dark: rgba(158,88,225,.8);

  --color-nebula-border: rgba(158,88,225,.15);
  --color-nebula-glow: rgba(158,88,225,.35);

  --color-nebula-text-primary: #1F2937;
  --color-nebula-text-muted: #6B7280;
  --color-nebula-text-light: #9CA3AF;
}


.section-container {
  @apply max-w-7xl mx-auto px-6 md:px-8;
}
